*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#000000,#081f4d);
    overflow:hidden;
    width:100vw;
    height:100vh;
}

/* İlk Sayfa */

#intro{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
    cursor:pointer;
    transition:.8s;
}

#intro h1{
    font-size:70px;
    text-shadow:0 0 25px red;
}

#intro p{
    margin-top:20px;
    font-size:22px;
    opacity:.8;
}

/* Kalp Sayfası */

.hidden{
    display:none;
}

#heartScreen{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* Büyük Kalp */

.heart{
    width:220px;
    height:220px;
    position:relative;
    transform:rotate(-45deg);
    background:linear-gradient(
        90deg,
        #000000 50%,
        #0b3d91 50%
    );
    animation:beat 1s infinite;
    box-shadow:0 0 40px #0b3d91;
}

.heart::before,
.heart::after{
    content:"";
    position:absolute;
    width:220px;
    height:220px;
    border-radius:50%;
    background:inherit;
}

.heart::before{
    top:-110px;
    left:0;
}

.heart::after{
    left:110px;
    top:0;
}

@keyframes beat{

    0%{
        transform:rotate(-45deg) scale(1);
    }

    50%{
        transform:rotate(-45deg) scale(1.1);
    }

    100%{
        transform:rotate(-45deg) scale(1);
    }

}

/* Yazı */

#heartScreen h2{
    color:white;
    margin-top:80px;
    font-size:35px;
    text-shadow:0 0 15px white;
}

/* Küçük Kalpler */

.floating-heart{
    position:absolute;
    pointer-events:none;
    z-index:999;
    filter:drop-shadow(0 0 10px red);
}
