*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background:#020617;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family:Arial;
}


.ekran{
    text-align:center;
    cursor:pointer;
}


.yazi-alan{
    position:relative;
}


h1{
    color:white;
    font-size:45px;
}


.ucan{
    position:absolute;
    font-size:25px;
    animation:uc 3s infinite;
}


.ucan:nth-child(2){
    left:-60px;
}


.ucan:nth-child(3){
    right:-60px;
    animation-delay:1s;
}


.ucan:nth-child(4){
    left:-30px;
    top:-40px;
    animation-delay:1.5s;
}


.ucan:nth-child(5){
    right:-30px;
    top:-40px;
    animation-delay:2s;
}


@keyframes uc{

    0%{
        opacity:0;
        transform:translateY(20px);
    }

    50%{
        opacity:1;
        transform:translateY(-30px);
    }

    100%{
        opacity:0;
        transform:translateY(-70px);
    }

}


/* Kalp */

.kalp{

    display:none;
    width:150px;
    height:150px;
    background:#001f5b;
    transform:rotate(-45deg);
    position:relative;
    margin:auto;
    animation:nefes 1.5s infinite;
    box-shadow:0 0 50px #004cff;

}


.kalp::before,
.kalp::after{

    content:"";
    position:absolute;
    width:150px;
    height:150px;
    background:#001f5b;
    border-radius:50%;

}


.kalp::before{
    top:-75px;
}


.kalp::after{
    left:75px;
}



@keyframes nefes{

    50%{
        transform:rotate(-45deg) scale(1.15);
    }

}
