* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #050b2e;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 50px;
    animation: yazı 2s ease-in-out infinite alternate;
}

.kalp {
    width: 150px;
    height: 150px;
    background: #001f5f;
    position: relative;
    transform: rotate(-45deg);
    margin: auto;
    animation: nefes 1.5s infinite ease-in-out;
    box-shadow: 0 0 40px #003cff;
}

.kalp::before,
.kalp::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: #001f5f;
    border-radius: 50%;
}

.kalp::before {
    top: -75px;
    left: 0;
}

.kalp::after {
    left: 75px;
    top: 0;
}


@keyframes nefes {

    0% {
        transform: rotate(-45deg) scale(1);
        box-shadow: 0 0 30px #003cff;
    }

    50% {
        transform: rotate(-45deg) scale(1.15);
        box-shadow: 0 0 70px #0055ff;
    }

    100% {
        transform: rotate(-45deg) scale(1);
        box-shadow: 0 0 30px #003cff;
    }

}


@keyframes yazı {

    from {
        opacity: 0.6;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(-10px);
    }

}
